body{
	background-color: lightgreen;
}
h1{
	color:green;
	}
p{
	margin: 10px 20px 30px 40px;
	color: blue;
}
body{
	background-color:lightgreen ;
}
*{
}
h1,h2,p{
	font-size: 30px;
}
.one{
	color: red;
	font-family:"Jacquarda Bastarda 9";
}
#two{
	color: blue;
	font-family:"Jacquarda Bastarda 9";
}
table,th,td{
	border:1px solid black;
	border-collapse: collapse;
	padding: 30px;
	background-color: pink;
}
#div{
	width: 200px;
	height: 200px;
	background-color: lightskyblue;
	border: 3px solid red;
	border-radius: 100px;
}